{% extends 'store/admin/base.html' %}

{% block admin_content %}
<div class="card">
    <div class="card-header">
        <h3>Admin Dashboard</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="text-primary">{{ categories.count }}</h4>
                        <p class="card-text">Categories</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="text-success">{{ products.count }}</h4>
                        <p class="card-text">Products</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="text-info">{{ in_stock_count }}</h4>
                        <p class="card-text">In Stock</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="text-warning">{{ out_of_stock_count }}</h4>
                        <p class="card-text">Out of Stock</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mt-4">
            <h5>Quick Actions</h5>
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'admin_create_category' %}" class="btn btn-primary btn-block mb-2">
                        <i class="fas fa-plus"></i> Add Category
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'admin_create_product' %}" class="btn btn-success btn-block mb-2">
                        <i class="fas fa-plus"></i> Add Product
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
